<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace指定该映射文件要实现的接口 -->
<mapper namespace="dao.UserTestDao">
    <select id="findAllUser" resultType="entity.UserTest" >
        SELECT * FROM usertest
    </select>
</mapper>
